#edit {
	background-color: #FF337D;
	position: relative;
	width: auto;
	float: right;
	margin: 0 70px 0 70px;
	display: block;
}
#save{
	background-color: #FF337D;
	position: relative;
	width: auto;
	float: right;
	margin: -75px 70px 0 70px;
	display: none;
}
.buttons {
	background-color: #FF337D;
	position: relative;
	width: auto;
	margin: 0 70px -70px 0;
	display: block;
}
#showComment{
	background-color: white;
	color: black;
	width:1000px;
	margin-left: 50px;
	padding-left: 20px;
	border-top:20px solid #D2D2D2;
	border-right:20px solid #D2D2D2;
	border-left:20px solid #D2D2D2;
}
hr{
	margin-left: -20px;
	height: 15px;
	background-color: #D2D2D2;
	border-top:1px solid #D2D2D2;
	border-left:20px solid #D2D2D2;
	border-right:20px solid #D2D2D2;
}
#liked{
	background-color: #FF337D;
	position: relative;
	width: auto;
	float: left;
	margin: -75px 70px -70px 0;
	display: none;
}
#hiddenArea{
	width: 1250px;
	height: 200px;
	display: none;
}
#blogBody{
	display: block;
}
h3{
	margin-left: 50px;
}
.image {
	height: 15px;
    width: 15px;
    margin-left: 4px;
}
.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 0 50px 0 50px;

}
.contentt {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 0 50px 0 50px;
}
.blogAuthor {
    padding: 0px 0px 0px 50px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.textarea{
	width: 1000px;
	height: 100px;
}
.blogContent{

}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

